body {
	background-color: #222831;

	color: #f9f9f9;

	font-family: Arial;
}

hr {
	border-style: none;
	border-top-style: dotted; 
	border-color: white;
	border-width: 5px;
	width: 50%; 
} 
ul {
	display: table;
	margin: 0 auto;
}
.Organisasi {
	background-color: #00adb5;
	font-family: Verdana;
	color: #222831;
}
.matakuliah {
	background-color: #3282b8;
	font-family: Century Gothic;
	color: #1b262c;

}
#Heading {
	color: #6a65d8;
	font-family: Lucida Sans;
}
